/* Global style variables to use along the code */
:root {
  /* Variante para -- Títulos*/
  --font-titulo: "Bricolage Grotesque", sans-serif;

  /* Variante para Corpo de Texto */
  --font-text: "DM Sans", sans-serif;

  /* Contrast */
  --ct-laranja: #f97b22;
  --ct-verde: #1f4529;
  --ct-verde2: #47663b;
  /* Backgrounds */
  --bg-color: #fefae7;
  /* Text */
  --txt-creme: #fefae7;
  --txt-preto: #000000;
}

/*Cursor*/
* {
  cursor: url("../images/cursor/NormalBig.cur"), default;
}
* a {
  cursor: url("../images/cursor/SelectBig.cur"), pointer;
}

/* Basic settings for the whole website */
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-text);
  background-color: var(--bg-color);
  overflow-x: hidden; /* Previne rolagem horizontal */
}

/* ----------------------------------------------------------------------- 
   Hamburger menu styles 
   This section defines the styles for the hamburger menu, and the navbar
   present in different pages of the website
   ----------------------------------------------------------------------- */

/* New navbar */
.header {
  width: 100%;
  position: relative;
}

/* Logo Styling */
.logo {
  position: fixed;
  top: 0.5rem;
  left: 0.5rem;
  z-index: 1000;
  padding: 5px;
}

.logo img {
  width: 115px;
  height: auto;
  transition: transform 0.3s ease;
}

.logo img:hover {
  transform: scale(1.05);
}

/* ----------------------------------------------------------------------- 
   Main page styles 
   This section defines the styles for the "Main" page of the website
 ----------------------------------------------------------------------- */

/* Main wrapper of all the content of the website */
.main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #a9d3e8;
}

/* Contains the center image with the buttons and the little guys */
.main .center {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Contains the grey background and the 3 buttons */
.main .center .center-image {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main .center .clouds {
  position: absolute;
  width: 100vw;
  height:100vh;
  top: 0;
  left: 0;
  overflow:hidden;
  background-image: url("../images/parallax/BG 125/clouds.png");
  background-size:cover;
  background-position:center;
}

.main .center .grass-back {
  position: absolute;
  width: 100vw;
  height:100vh;
  top: 0;
  left: 0;
  overflow:hidden;
  background-image: url("../images/parallax/BG 125/back.png");
  background-size:cover;
  background-position:center;
}

.main .center .grass-front {
  position: absolute;
  width: 100vw;
  height:100vh;
  top: 0;
  left: 0;
  overflow:hidden;
  background-image: url("../images/parallax/BG 125/front.png");
  background-size:cover;
  background-position:center;
}

/* Styles for the buttons */
.main .center a {
  z-index: 10;
  width: 8rem;
  height: 6rem;
  cursor: url("../images/cursor/SelectBig.cur"), pointer;
  transform: translateY(-70px) scale(1.3);
}

.main .center .center-image .right {
  z-index: 10;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.main .center .center-image .right img {
  width: 100%;
  z-index: 20;
}
/* Positioning for the button "Produção" */
.main .center .button1 {
  background-image: url(/images/buttons/bupro.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  transition: 0.2s;
  z-index: 30;
}

/* Hover animation for the button "Produção" */
.main .center .button1:hover {
  scale: 1.1;
  rotate: -5deg;
  background-image: url('/images/buttons/bupro.png');
  background-size: contain;
  background-repeat: no-repeat;
}

/* Hover animation for the image of "Produção" */
.main .center .right img:hover {
  cursor: url("../images/cursor/SelectBig.cur"), pointer;
}

.main .center .center-image .left {
  z-index: 10;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.main .center .center-image .left img {
  width: 100%;
  z-index: 20;
}

/* Positioning for the button "Sobre" */
.main .center .button2 {
  background-image: url(/images/buttons/buso.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  transition: 0.2s;
  z-index: 30;
}

/* Hover animation for the button "Sobre" */
.main .center .button2:hover {
  scale: 1.1;
  rotate: 5deg;
  background-image: url('/images/buttons/buso.png');
  background-size: contain;
  background-repeat: no-repeat;
}

/* Hover animation for the image of "Sobre" */
.main .center .left img:hover {
  cursor: url("../images/cursor/SelectBig.cur"), pointer;
}

.main .center .center-image .middle {
  z-index: 10;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.main .center .center-image .middle img {
  width: 100%;
  z-index: 20;
}
/* Positioning for the button "Os cogumelos" */
.main .center .button3 {
  background-image: url(/images/buttons/buco.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  transition: 0.2s;
  z-index: 30;
}

/* Hover animation for the button "Os cogumelos" */
.main .center .button3:hover {
  scale: 1.1;
  rotate: -5deg;
  background-image: url('/images/buttons/buco.png');
  background-size: contain;
  background-repeat: no-repeat;
}

/* Hover animation for the image of "Os cogumelos" */
.main .center .middle img:hover {
  cursor: url("../images/cursor/SelectBig.cur"), pointer;
}

/* Other Versions view of Main page */
/* Laptop */
@media (max-width: 1024px) {
  .main .center a {
    font-size: 1rem;
  }
  /* Positioning for the button "Produção" */
  .main .center .button1 {
    right: 5%;
    top: 5%;
  }

  /* Positioning for the button "Sobre" */
  .main .center .button2 {
    left: -2%;
    top: 60%;
  }

  /* Positioning for the button "Os cogumelos" */
  .main .center .button3 {
    right: 10%;
    bottom: 5%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  /* Positioning for the button "Produção" */
  .main .center .button1 {
    right: 5%;
    top: 15%;
  }

  /* Positioning for the button "Sobre" */
  .main .center .button2 {
    left: -3%;
    top: 50%;
  }

  /* Positioning for the button "Os cogumelos" */
  .main .center .button3 {
    right: 10%;
    bottom: 15%;
  }
}

/* Mobile*/
@media (max-width: 425px) {
  .main .center {
    flex-direction: row;
    gap: 1em;
    overflow: hidden;
  }

  .main .center .center-image {
    flex-direction: row;
    margin: 0;
  }

  .main .center .clouds {
    position: absolute;
    width: 100vw;
    height:100vh;
    top: 0;
    left: 0;
    overflow:hidden;
    background-image: url("../images/parallax/BG 125/clouds.png");
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: center 20%;
}

.main .center .grass-back {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
  background-image: url("../images/grass_mobile/relvaback\ 400px.png");
  background-size: 200%;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.main .center .grass-front {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-image: url("../images/grass_mobile/relvafrente\ 400px.png");
  background-size: 200%;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.main .center .center-image .left,
.main .center .center-image .middle,
.main .center .center-image .right {
  transform: translateY(-15%);
}

  .main .center .button-row {
    display: block;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  .main .center a {
    transform: scale(90%);
  }
}
