body {
  background-color: bisque;
  font-family: Quicksand, sans-serif;
  font-size: 200px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ensures full-page centering */
}

.landingpage {
  background-image: url("images/blob.png"); /* Substitua pelo caminho da sua imagem */
  background-size: cover;
  background-position: center;
}

/*Cogumelos*/

.coguh1 {
  padding: 30px;
}

.pcogu {
  display: inline-block;
  position: relative;
}

.cardo {
  max-width: 100%;
  max-height: 100%;
}

.juba {
}
.ostra {
}
