body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #F0F0F0;
}

/* New navbar */
/* Hamburger Button */
.hamburger {
  position: fixed;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 6px;
  z-index: 1001;
  width: 30px;
  height: 24px;
}

.bar {
  width: 100%;
  height: 3px;
  background-color: #333;
  border-radius: 2px;
  transform-origin: center;
}

.hamburger span {
  width: 30px;
  height: 3px;
  background-color: #333;
  transition: 0.3s;
}

/* Side Menu */
.side-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100vh;
  background-color: #2e2e2e;
  opacity: 0.9;
  color: white;
  padding-top: 5rem;
  transform: translateX(100%);
  z-index: 1000;
}

.side-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-left: 2rem;
}

.side-menu ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

/* Logo Styling */
.logo {
  position: fixed;
  top: 0rem;
  left: 0rem;
  z-index: 1001;
}

.logo img {
  width: 100px;
  /* Adjust logo size */
  height: auto;
}


 /* Main page */
.main.desktop {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.main.mobile {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  display: none;
}

.main.desktop .center {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main.mobile .center {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main.desktop .center .center-image{
  width: 80%;
  background-image: url("../images/blob.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main.mobile .center .center-image {
  width: 100%;
  height: 100%;
  background-image: url("../images/blob.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main.desktop .center .cogu-main {
  position: absolute;
  transform: translateY(20px);
  width: 40%;
  z-index: 2;
}

.main.mobile .center .cogu-main {
  position: absolute;
  transform: translateY(20px);
  width: 80%;
  z-index: 2;
}

.main.desktop .center .button1 {
  position: absolute;
  background-color: #C5C5C5;
  padding: 1em 3em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  right: 10%;
  top: 0;
  font-weight: bold;
  border-radius: 20px;
  z-index: 3;
  color: black;
  text-decoration: none;
}

.main.mobile .center .button1 {
  position: absolute;
  background-color: #C5C5C5;
  padding: 0.2em 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  right: 5%;
  top: 30%;
  font-weight: bold;
  border-radius: 15px;
  z-index: 3;
  color: black;
  text-decoration: none;
}

.main.desktop .center .button2 {
  position: absolute;
  background-color: #C5C5C5;
  padding: 1em 3em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  left: 5%;
  top: 50%;
  font-weight: bold;
  border-radius: 20px;
  z-index: 3;
  color: black;
  text-decoration: none;
}

.main.mobile .center .button2 {
  position: absolute;
  background-color: #C5C5C5;
  padding: 0.2em 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  left: 5%;
  top: 60%;
  font-weight: bold;
  border-radius: 15px;
  z-index: 3;
  color: black;
  text-decoration: none;
}

.main.desktop .center .button3 {
  position: absolute;
  background-color: #C5C5C5;
  padding: 1em 3em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  right: 20%;
  bottom: 0;
  font-weight: bold;
  border-radius: 20px;
  z-index: 3;
  color: black;
  text-decoration: none;
}

.main.mobile .center .button3 {
  position: absolute;
  background-color: #C5C5C5;
  padding: 0.2em 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  right: 5%;
  bottom: 30%;
  font-weight: bold;
  border-radius: 15px;
  z-index: 3;
  color: black;
  text-decoration: none;
}

/* Mobile view */

@media (max-width: 768px) {
  .main.desktop {
    display: none;
  }
  .main.mobile {
    display: block;
  }
}


/* Cogumelos page */

.cogumelos.desktop {
  display: flex;
  flex-direction: column;
  padding-top: 10rem;
}

.cogumelos.mobile {
  flex-direction: column;
  padding-top: 5rem;
  display: none;
}

.cogumelos.desktop .cog-title {
  font-size: 4rem;
  text-align: center;
}

.cogumelos.mobile .cog-title {
  font-size: 2.2rem;
  text-align: center;
}

.cogumelos.desktop .container {
  display: flex;
  flex-direction: column;
}

.cogumelos.mobile .container {
  display: flex;
  flex-direction: column;
}

.cogumelos.desktop .container .cogumelo {
  display: flex;
  flex-direction: row;
}

.cogumelos.mobile .container .cogumelo {
  display: flex;
  flex-direction: row;
  margin: 1rem 0rem;
}

.cogumelos.mobile .container img {
  height: 10rem;
  margin: auto 0;
}

.cogumelos.desktop .container .cogumelo .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 40px;
}

.cogumelos.mobile .container .cogumelo .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 10px;
}

.cogumelos.desktop .container .cogumelo .text h2 {
  font-size: 3rem;
}

.cogumelos.mobile .container .cogumelo .text h2 {
  font-size: 1rem;
  margin: 0;
}

.cogumelos.desktop .container .cogumelo .text p {
  font-size: 1.1rem;
}

.cogumelos.mobile .container .cogumelo .text p {
  font-size: 0.9rem;
  margin: 0.5rem;
}

/* Mobile view */

@media (max-width: 768px) {
  .cogumelos.desktop {
    display: none;
  }

  .cogumelos.mobile {
    display: flex;
  }
}

/* Sobre nós page */

.sobre.desktop {
  display: flex;
  flex-direction: column;
  padding: 10rem 0rem;
}

.sobre.mobile {
  display: flex;
  flex-direction: column;
  padding: 5rem 0rem;
  display: none;
}

.sobre.desktop .sob-title {
  font-size: 4rem;
  text-align: center;
}

.sobre.mobile .sob-title {
  font-size: 2rem;
  text-align: center;
}

.sobre.desktop .container {
  display: flex;
  flex-direction: column;
  margin: 0px 180px;
}

.sobre.mobile .container {
  display: flex;
  flex-direction: column;
  margin: 0px 10px;
}

.sobre.desktop .container .header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sobre.mobile .container .header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.sobre.mobile .container .header img {
  height: 15rem;
  margin: auto 0;
}

.sobre.desktop .container .header .text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px;
}

.sobre.desktop .container .header .text p {
  font-size: 1.1rem;
}

.sobre.desktop .container .sub-header {
  margin: 40px 0px;
  padding: 40px 0px;
}

.sobre.desktop .container .sub-content {
  margin: 20px 0px;
  padding: 20px 0px;
}

.sobre.desktop .container .wide-image {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sobre.mobile .container .wide-image {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sobre.mobile .container .wide-image img {
  width: 100%;
  margin: 1rem 0px;
}

.sobre.desktop .container .sponsors h2 {
  margin: 4rem 0rem;
  font-size: 3rem;
  text-align: center;
}

.sobre.mobile .container .sponsors h2 {
  margin: 1rem 0rem;
  font-size: 2rem;
  text-align: center;
}

.sobre.desktop .container .sponsors .grid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  /* 9 equal columns */
  grid-template-rows: repeat(3, auto);
  /* 3 rows, auto height */
  gap: 10px;
  /* optional: space between cells */
}

.sobre.mobile .container .sponsors .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  /* 9 equal columns */
  grid-template-rows: repeat(3, auto);
  /* 3 rows, auto height */
  gap: 10px;
  /* optional: space between cells */
}

.sobre.desktop .container .sponsors .grid img {
    padding: 0;
    margin: auto;
}

.sobre.mobile .container .sponsors .grid img {
  padding: 0;
  margin: auto;
}

/* Mobile view */

@media (max-width: 768px) {
  .sobre.desktop {
    display: none;
  }

  .sobre.mobile {
    display: flex;
  }
}

/* Produção page */

.producao {
  display: flex;
  flex-direction: column;
  height: calc(100vh*5);
}

.producao .container {
  height: 500vh;
  position: relative;
}

.producao .container .content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  max-width: 70%;
  align-self: center;
  padding: 2rem;
  position: sticky;
  top: 7rem;
  margin: auto;
}

.producao .container .content img {
  max-width: 20%;
}

.producao .container .content .text {
  width: 50%;
}

.producao .container .content .text h2 {
  font-size: 1.5rem;
  margin: 0;
}

.producao .container .content .text p {
  font-size: 1.1rem;
}

.producao .container .circle-point {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: rgb(116, 116, 116);
  border-radius: 50%;
}

.producao .container .circle-container {
  position: fixed;
  bottom: -1200px;
  left: 50%;
  transform: translateX(-50%);
  width: 100rem;
  height: 100rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.producao .container .circle-image {
  position: absolute;
  transform-origin: center center;
  transform: scale(1);
  max-height: 2400px;
}

/* Producao - sections */

.producao .container .section-first {
  width: 100%;
  height: 100vh;
  background-color: rgb(62, 151, 235);
  position: absolute;
  top: 0;
  left: 0;
}

/* Section first - parallax */

.producao .container .section-first .parallax {
  width: 100%;
  height: 100%;
  position: relative;
}

.producao .container .section-first .parallax .grass-image {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.producao .container .section-first .parallax .clouds-image {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* Section second */


.producao .container .section-second {
  width: 100%;
  height: 100vh;
  background-color: navy;
  position: absolute;
  top: 100vh;
  left: 0;
}

/* Section third */


.producao .container .section-third {
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 128, 6);
  position: absolute;
  top: 200vh;
  left: 0;
}

/* Section fourth */


.producao .container .section-fourth {
  width: 100%;
  height: 100vh;
  background-color: rgb(219, 241, 15);
  position: absolute;
  top: 300vh;
  left: 0;
}

/* Section fifth */


.producao .container .section-fifth {
  width: 100%;
  height: 140vh;
  background-color: rgb(253, 25, 234);
  position: absolute;
  top: 400vh;
  left: 0;
}

/* Producao - Content blocks */

.producao .container .content.first {
  transform: scale(0);
  opacity: 0;
}

.producao .container .content.second {
  transform: scale(0);
  opacity: 0;
}

.producao .container .content.third {
  transform: scale(0);
  opacity: 0;
}

.producao .container .content.fourth {
  transform: scale(0);
  opacity: 0;
}

.producao .container .content.fifth {
  transform: scale(0);
  opacity: 0;
}


/* Section second - parallax */

.producao .container .section-second .parallax {
  width: 100%;
  height: 100%;
  position: relative;
}

.producao .container .section-second .parallax .grass-image {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.producao .container .section-second .parallax .clouds-image {
  position: absolute;
  bottom: 0;
  width: 100%;
}

@media (max-height: 1000px) {
  .producao .container .circle-image {
    height: 250vh;
  }
}

/* Mobile view */

@media (max-width: 768px) {

  .producao .container .content {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 10px;
      max-width: 100%;
      align-self: center;
      padding: 1rem;
      position: sticky;
      top: 5rem;
      margin: auto;
    }
  .producao .container .content img {
    max-width: 50%;
    height: 100%;
  }

  .producao .container .content .text {
    width: 50%;
  }

  .producao .container .content .text h2 {
    font-size: 1.5rem;
    margin: 0;
  }

  .producao .container .content .text p {
    font-size: 1rem;
  }

  .producao .container .circle-container {
    position: fixed;
    bottom: -50%;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
  }

  .producao .container .circle-image {
    position: absolute;
    transform-origin: center center;
    transform: scale(0);
    height: 35rem;
  }


    /* Section fifth */
    .producao .container .section-fifth {
      width: 100%;
      height: 100vh;
      background-color: rgb(253, 25, 234);
      position: absolute;
      top: 400vh;
      left: 0;
    }
}

