/* Import fonts */
.londrina {
  font-family: "Londrina Solid", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Global style variables to use along the code */
:root {
  /* Titles */
  --ft-londrina: "Londrina", sans-serif;
  --ft-inter: "Inter", sans-serif;
  /* Sub-titles */
  /* Satoshi font has to be downloaded and imported. This video will help: https://youtu.be/lDip-1VnaOA?t=94 */
  --ft-inter: "Inter", sans-serif;
  /* Contrast */
  --ct-laranja: #fe6731;
  --ct-amarelo: #ffd816;
  --ct-azul: #0074ff;
  --ct-verde: #00b552;
  --ct-rosa: #ff9bc0;
  /* Backgrounds */
  --bg-creme: #fff6e7;
  --bg-branco: #ffffff;
}

/*Cursor*/
* {
  cursor: url("../images/Normal.cur"), default;
}
* a {
  cursor: url("../images/Select.cur"), pointer;
}

/* Basic settings for the whole website */

body {
  padding: 0;
  margin: 0;
  font-family: var(--ft-inter);
  font-weight: 100;
  background-color: var(--bg-creme);
}

/* -----------------------------------------------------------------------
   Hamburger menu styles
   This section defines the styles for the hamburger menu, and the navbar
   present in different pages of the website
   ----------------------------------------------------------------------- */

/* New navbar */
/* Hamburger Button */
.hamburger {
  position: fixed;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 6px;
  z-index: 1001;
  width: 30px;
  height: 24px;
}

.bar {
  width: 100%;
  height: 3px;
  background-color: #f2ab15;
  border-radius: 2px;
  transform-origin: center;
}

.hamburger span {
  width: 30px;
  height: 3px;
  color: #f2ab15;
  transition: 0.3s;
}

/* Side Menu */
.side-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100vh;
  margin-top: auto;
  background-color: #46a35a;
  opacity: 0.7;
  padding-top: 5rem;
  transform: translateX(100%);
  z-index: 999;
}

.side-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-left: 2rem;
}

.side-menu ul li a {
  color: #242e0f;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
}

@media (max-width: 768px) {
  .hamburger {
    top: 0.5rem;
    right: 0.5rem;
  }

  .side-menu {
    width: 80%;
  }
}

/* Logo Styling */
.logo {
  position: fixed;
  top: 0rem;
  left: 0rem;
  z-index: 1000;
  padding: 5px;
}

.logo img {
  width: 115px;
  /* Adjust logo size */
  height: auto;
}

/* -----------------------------------------------------------------------
   Main page styles
   This section defines the styles for the "Main" page of the website
 ----------------------------------------------------------------------- */

/* Main wrapper of all the content of the website */
.main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* Contains the center image with the buttons and the little guys */
.main .center {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Contains the grey background and the 3 buttons */
.main .center .center-image {
  width: 100%;
  height: 100%;
  background-image: url("../images/blob.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* Little guys */
.main .center .cogu-main {
  position: absolute;
  transform: translateY(20px);
  width: 40%;
  z-index: 2;
}

/* Styles for the buttons */
.main .center a {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 3;
  border-radius: 20px;
  background-color: var(--ct-laranja);
  color: white;
  text-decoration: none;
  font-weight: bold;
  width: 180px;
  margin: 20px;
}

/* Positioning for the button 1 - Cogumelos */
.main .center .button1 {
  top: 42px;
  left: 720px;
  padding: 16px 48px;
}

/* Positioning for the button 2 - Produção */
.main .center .button2 {
  top: 500px;
  left: -20px;
  padding: 16px;
}

/* Positioning for the button 3 - Sobre */
.main .center .button3 {
  top: 651px;
  left: 600px;
  padding: 16px;
}

/* Mobile view of Main page */
/* Ajuste para telas médias */
@media (min-width: 769px) and (max-width: 1024px) {
  .main .center {
    width: 90%;
    height: 90%;
  }

  .main .center a {
    padding: 0.8em 2em;
    font-size: 0.9rem;
  }

  /* Positioning for the button 1 */
  .main .center .button1 {
    right: 5%;
    top: 15%;
  }

  /* Positioning for the button 2 */
  .main .center .button2 {
    left: 0;
    top: 60%;
  }

  /* Positioning for the button 3 */
  .main .center .button3 {
    right: 10%;
    bottom: 20%;
  }
}

@media (max-width: 991px) {
  .main .center {
    width: 100%;
    height: 100%;
  }

  .main .center .center-image {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-top: 170px;
    flex-wrap: wrap;
  }

  .main .center .cogu-main {
    width: 60%;
    position: absolute;
    right: 25%;
    transform: translateY(20px);
  }

  .main .center a {
    padding: 16px;
    border-radius: 15px;
    position: relative;
    right: initial !important;
    left: initial !important;
    top: initial !important;
    bottom: initial !important;
    transform: translateY(200px);
    margin: 10px;
    display: block;
    text-align: center;
    min-width: 120px;
    width: auto !important;
  }

  .main .center .button1,
  .main .center .button2,
  .main .center .button3 {
    position: relative !important;
    right: initial !important;
    left: initial !important;
    top: initial !important;
    bottom: initial !important;
  }
}

@media (max-width: 768px) {
  .main .center {
    width: 100%;
    height: 100%;
    align-items: flex-start;
    padding-top: 20px;
  }

  .main .center .center-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding-top: 20px;
    background-position: top center;
    background-size: auto 400px;
  }

  .main .center .cogu-main {
    width: 60%;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
  }

  .main .center a {
    padding: 30px 16px;
    border-radius: 15px;
    position: relative;
    right: initial !important;
    left: initial !important;
    top: initial !important;
    bottom: initial !important;
    transform: none;
    margin: 8px;
    display: block;
    text-align: center;
    min-width: 100px;
    width: auto !important;
    font-size: 14px;
    z-index: 5;
  }

  .main .center .button1,
  .main .center .button2,
  .main .center .button3 {
    position: relative !important;
    right: initial !important;
    left: initial !important;
    top: initial !important;
    bottom: initial !important;
  }
}

@media (max-width: 640px) {
  .main .center {
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .main .center .center-image {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    background-image: url("https://cdn.builder.io/api/v1/image/assets%2F08b9c181b0eb4c76991488aca6cdeeb0%2F2b320c86f63a472e90273b7a3b3ab0c9");
    padding: 190px 58px 58px;
  }

  .main .center .cogu-main {
    left: 69px;
    top: 367px;
    transform: translateY(20px);
    margin-top: -240px;
  }
}

/* -----------------------------------------------------------------------
   Os Cogumelos page styles
   This section defines the styles for the "Os Cogumelos" page of the website
 ----------------------------------------------------------------------- */

/* Wrapper for all the content of the page */
.cogumelos {
  display: flex;
  flex-direction: column;
  padding-top: 10rem;
  align-items: center; /* Centraliza a container horizontalmente */
  justify-content: center; /* Centraliza os itens dentro da container verticalmente */
}

/* Main title of the page */
.cogumelos .cog-title {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 2rem;
}

/* Container of all 3 sections with the different mushrooms */
.cogumelos .container {
  display: flex;
  flex-direction: column;
  gap: 4rem; /* Aumenta o espaçamento entre as seções */
  align-items: center; /* Centraliza os itens horizontalmente */
}

/* Individual containers for each mushrooms */
.cogumelos .container .cogumelo {
  display: flex;
  flex-direction: row; /* Texto e imagem lado a lado */
  align-items: center; /* Alinha a imagem e o texto verticalmente */
  gap: 3rem;
  justify-content: center; /* Garante que o conteúdo do cogumelo seja centralizado */
}

/* Dimensions of the mushroom images */
.cogumelos .container img {
  /* Mudar aqui o tamanho com base na gif feita */
  height: 35rem;
  width: auto;
}

/* Text section of every mushroom container */
.cogumelos .container .cogumelo .text {
  display: flex;
  flex-direction: column;
  width: 50%; /* Limita a largura do texto para que ele ocupe menos espaço */
}

/* Title of the mushroom text */
.cogumelos .container .cogumelo .text h2 {
  font-size: 2.5rem;
  margin-bottom: 0.1rem;
}

/* Description title */
.cogumelos .container .cogumelo .text h3 {
  font-size: 1.5rem;
  margin-bottom: 0;
}

/* Sub-title of the mushroom text */
.cogumelos .container .cogumelo .text h3 i {
  font-size: 1.5rem;
  margin-top: 3rem;
  font-weight: 200;
}

/* Individual paragraphs */
.cogumelos .container .cogumelo .text p {
  font-size: 3rem;
  margin-top: 1rem;
  line-height: 1.6;
  max-height: 12rem; /* Limita a altura do parágrafo para evitar que o texto ocupe muito espaço */
  overflow: hidden; /* Esconde o texto extra */
  justify-content: center;
  align-items: center; /* Centraliza o texto dentro da coluna */
}

/* Especificidade para inverter a ordem do Cogumelo Juba de Leão */
.cogumelos .container .cogumelo:nth-child(2) {
  flex-direction: row-reverse; /* Inverte a ordem apenas para o segundo cogumelo (Juba de Leão) */
}

/* Mobile view */

@media (max-width: 1240px) {
  .cogumelos {
    padding-top: 2rem;
  }

  .cogumelos .cog-title {
    font-size: 2.2rem;
  }

  .cogumelos .container .cogumelo {
    flex-direction: column;
    margin: 0.5rem 0;
    text-align: center;
  }

  .cogumelos .container img {
    height: 25rem;
    margin: auto 0;
  }

  .cogumelos .container .cogumelo .text {
    justify-content: center;
    padding: 0px 25px;
  }

  .cogumelos .container .cogumelo .text h2 {
    font-size: 1.5rem;
    margin: 0;
  }

  .cogumelos .container .cogumelo .text p {
    font-size: 0.9rem;
    margin: 0.5rem;
  }

  /* In mobile view, all the mushrooms are ordered vertically */
  .cogumelos .container .cogumelo:nth-child(2) {
    flex-direction: column; /* Ordered vertically */
  }
}

/* -----------------------------------------------------------------------
   Sobre nós page styles
   This section defines the styles for the "Sobre nós" page of the website
 ----------------------------------------------------------------------- */

/* Main wrapper for the content of the page */
.sobre {
  display: flex;
  flex-direction: column;
  padding: 10rem 0rem;
}

/* Main title of the page */
.sobre .sob-title {
  font-size: 4rem;
  text-align: center;
}

/* Wrapper for the content and images */
.sobre .container {
  display: flex;
  flex-direction: column;
  margin: 0px 180px;
}

/* First section the page */
.sobre .container .header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Text of the first section */
.sobre .container .header .text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px;
}

/* Paragraphs of the first section*/
.sobre .container .header .text p {
  font-size: 1.5rem;
}

/* Text container of individual sections */
.sobre .container .bodytext {
  margin: 40px 0px;
  padding: 40px 0px;
  font-size: 1.5rem;
}

/* Wide banner */
.sobre .container .wide-image {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Title of sponsors */
.sobre .container .sponsors h3 {
  margin-top: 3.5rem;
  font-size: 2.5rem;
  text-align: center;
  color: #9aaf10;
}

/* Sponsors grid */
.sobre .container .sponsors .grid-sponsor {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, auto);
  align-items: center;
  justify-content: center;
}

/* Sponsors images */
.sobre .container .grid-sponsor img {
  width: 7rem;
  height: auto;
  padding: 0;
  margin: 1rem;
  justify-content: center;
}

/* Finance grid*/
.sobre .container .sponsors .grid-finance {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, auto);
  align-items: center;
  justify-content: center;
}

/* Finance images */
.sobre .container .grid-finance img {
  width: 15rem;
  height: auto;
  padding: 0;
  justify-content: center;
}

/* Coordination grid */
.sobre .container .sponsors .grid-coord {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, auto);
  align-items: center;
  justify-content: center;
}

/* Coordination images */
.sobre .container .grid-coord img {
  width: 10rem;
  height: auto;
  padding: 0;
  margin: 1rem;
  justify-content: center;
}

/* Post-project grid */
.sobre .container .sponsors .grid-pos {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, auto);
  align-items: center;
  justify-content: center;
}

/* Post-project images */
.sobre .container .grid-pos img {
  width: 10rem;
  height: auto;
  padding: 0;
  margin: 1rem;
  justify-content: center;
}

/* Mobile view */

@media (max-width: 768px) {
  .sobre {
    padding: 5rem 0rem;
  }

  .sobre .sob-title {
    font-size: 2rem;
  }

  .sobre .container {
    margin: 0px 10px;
  }

  .sobre .container .header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }

  .sobre .container .header .text {
    margin: 10px;
  }

  .sobre .container .header .text p {
    font-size: 1rem;
  }

  .sobre .container .bodytext {
    margin: 20px 10px;
    padding: 0px 0px;
    font-size: 1.2rem;
  }

  .sobre .container .bodytext p {
    font-size: 1rem;
  }

  .sobre .container .header img {
    height: 15rem;
    margin: auto 0;
  }

  .sobre .container .wide-image img {
    width: 100%;
    margin: 1rem 0px;
  }

  .sobre .container .sponsors h2 {
    margin: 1rem 0rem;
    font-size: 2rem;
  }

  .sobre .container .sponsors .grid-sponsor {
    grid-template-columns: repeat(2, 1fr);
  }

  .sobre .container .grid-sponsor img {
    margin: auto;
  }

  .sobre .container .sponsors .grid-finance {
    grid-template-columns: repeat(1, 1fr);
  }

  .sobre .container .grid-finance img {
    margin: 0 auto;
  }

  .sobre .container .sponsors .grid-coord {
    grid-template-columns: repeat(2, 1fr);
  }

  .sobre .container .grid-coord img {
    margin: 1rem auto;
  }

  .sobre .container .sponsors .grid-pos {
    grid-template-columns: repeat(2, 1fr);
  }

  .sobre .container .grid-pos img {
    margin: 1rem auto;
  }
}

/* -----------------------------------------------------------------------
   Produção page styles
   This section defines the styles for the "Produção" page of the website
 ----------------------------------------------------------------------- */

/* Wrapper for all the content of the page */
.producao {
  display: flex;
  flex-direction: column;
  height: calc(100vh * 5);
}

/* Container for all the sections, and the circle */
.producao .container {
  height: 500vh;
  position: relative;
}

/* Information of every section */
.producao .container .content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  max-width: 70%;
  align-self: center;
  padding: 2rem;
  position: sticky;
  top: 7rem;
  margin: auto;
}

/* Images of every section */
.producao .container .content img {
  max-width: 20%;
}

/* Text of every section */
.producao .container .content .text {
  width: 50%;
}

/* Title of every section */
.producao .container .content .text h2 {
  font-size: 1.5rem;
  margin: 0;
}

/* Text body of every section */
.producao .container .content .text p {
  font-size: 1.1rem;
}

/* Container for the element os the rotating circle */
.producao .container .circle-container {
  position: fixed;
  bottom: -200px;
  left: 50%;
  transform: translateX(-50%);
  width: 1500px;
  height: 1500px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

/* Rotating circle image */
.producao .container .circle-image {
  position: absolute;
  transform-origin: center center;
  transform: scale(0);
  max-height: 2000px;
}

/* Following styles are for every individual section, with their
   own parallax effect and backgrounds */

/* Section first */
.producao .container .section-first {
  width: 100%;
  height: 100vh;
  background-color: rgb(62, 151, 235);
  position: absolute;
  top: 0;
  left: 0;
}

/* Section first parallax container*/
.producao .container .section-first .parallax {
  width: 100%;
  height: 100%;
  position: relative;
}

/* Grass image parallax */
.producao .container .section-first .parallax .grass-image {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* Clouds image parallax*/
.producao .container .section-first .parallax .clouds-image {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* Section second */
.producao .container .section-second {
  width: 100%;
  height: 100vh;
  background-color: navy;
  position: absolute;
  top: 100vh;
  left: 0;
}

/* Section second parallax container */
.producao .container .section-second .parallax {
  width: 100%;
  height: 100%;
  position: relative;
}

/* Section second grass parallax */
.producao .container .section-second .parallax .grass-image {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* Section second clouds parallax */
.producao .container .section-second .parallax .clouds-image {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* Section third */
.producao .container .section-third {
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 128, 6);
  position: absolute;
  top: 200vh;
  left: 0;
}

/* Section fourth */
.producao .container .section-fourth {
  width: 100%;
  height: 100vh;
  background-color: rgb(219, 241, 15);
  position: absolute;
  top: 300vh;
  left: 0;
}

/* Section fifth */
.producao .container .section-fifth {
  width: 100%;
  height: 140vh;
  background-color: rgb(253, 25, 234);
  position: absolute;
  top: 400vh;
  left: 0;
}

/* The following styles are the initial states from which
   the elements will be animated. For example, the content
   of a section will be invisible (opacity: 0) and fade-in
   when the scroll reaches that point. */

.producao .container .content.first {
  transform: scale(0);
  opacity: 0;
}

.producao .container .content.second {
  transform: scale(0);
  opacity: 0;
}

.producao .container .content.third {
  transform: scale(0);
  opacity: 0;
}

.producao .container .content.fourth {
  transform: scale(0);
  opacity: 0;
}

.producao .container .content.fifth {
  transform: scale(0);
  opacity: 0;
}

/* Small adjustment for heights lower than 1000px */
@media (max-height: 1000px) {
  .producao .container .circle-image {
    height: 250vh;
  }
}

/* Mobile view - when width of the screen is lower than 768px */
@media (max-width: 768px) {
  .producao .container .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    max-width: 100%;
    align-self: center;
    padding: 1rem;
    position: sticky;
    top: 5rem;
    margin: auto;
  }
  .producao .container .content img {
    max-width: 50%;
    height: 100%;
  }

  .producao .container .content .text {
    width: 50%;
  }

  .producao .container .content .text h2 {
    font-size: 1.5rem;
    margin: 0;
  }

  .producao .container .content .text p {
    font-size: 1rem;
  }

  .producao .container .circle-container {
    position: fixed;
    bottom: -0%;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
  }

  .producao .container .circle-image {
    position: absolute;
    transform-origin: center center;
    transform: scale(0);
    height: 35rem;
  }

  /* Section fifth */
  .producao .container .section-fifth {
    width: 100%;
    height: 100vh;
    background-color: rgb(253, 25, 234);
    position: absolute;
    top: 400vh;
    left: 0;
  }
}
